@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container-1 {
    background-color: #191a1d;

    width: 100vw;
}

.icon-custom {
    background-color: transparent;
    border-style: solid;
    border-color: #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
}

#name2 {
    color: white;
}

#name3 {
    color: white;
}

#name4 {
    color: white;
}

#name5 {
    color: white;
}

.image {
    width: 70%;
    margin: 10vw;
    margin-top: 12vh;
    margin-right: 5vw;
}

.heading {
    color: white;
    font-size: 45px;
    padding-left: 5vw;
}

.name-color {
    color: #4b6cc1;
    font-size: 45px;
}

.paragraph {
    color: #9aa5b1;
    font-size: 25px;
    padding-left: 5vw;
}

.button {
    color: white;
    background-color: #4b6cc1;
    border-radius: 8px;
    padding: 5px;
    margin-left: 5vw;
}

.container-1 {
    background-color: #323f4b;
    padding: 20px;
}

.main-heading1 {
    color: #cced00;
    font-size: 20px;
}

.main-heading2 {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.image-pic {
    width: 100%;
}

.paragraph {
    color: #9aa5b1;
    font-size: 20px;
    padding: 15px;
}

.container-2 {
    background-color: #1f2933;
    padding-left: 5vw;
}

.heading-skills {
    color: #cced00;
    font-size: 25px;
    padding: 10px;
}

.set-container {
    background-color: #323f4b;
    border-radius: 5px;
    height: 100px;
    width: 100px;

    padding-top: 22px;
}

.skill-image {
    height: 50px;
    width: 50px;
}

.heading-image {
    font-size: 20px;
    color: white;
}

.container {
    background-color: #3e4c59;
    padding: 15px;
}

.main-heading {
    font-size: 25px;
    color: #cced00;
}

.main-paragraph {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.card {
    background-color: #323f4b;
}

.text-container {
    padding: 15px;
}

.image {
    width: 80%;
}

.heading1 {
    font-size: 15px;
    color: #9aa5b1;
}

.heading2 {
    font-size: 25px;
    color: white;
}

.paragraph {
    font-size: 20px;
    color: #9aa5b1;
}

.text-custom {
    color: #cced00;
}

.containerx {
    background-color: #52606d;
    padding: 15px;
    height: 200vh;
}

.main-heading {
    font-size: 25px;
    color: #cced00;
}

.main-paragraph {
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.set-container {
    background-color: #323f4b;
    border-radius: 8px;
    padding: 15px;
}

.imagex {
    height: 30px;
    width: 30px;
}

.heading {
    font-size: 10px;
    color: white;
}

.paragraph {
    font-size: 15px;
    color: #9aa5b1;
}

container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/portfolio-work-done-bg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-top: 30vh;
}

.set {
    text-align: center;
}

.icon {
    text-align: center;
    margin-left: 22px;
}

.line {
    background-color: white;
    width: 50%;
    margin-left: 10px;
    text-align: center;
}

.num {
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.heading {
    font-size: 12px;
    color: white;
    margin-right: 10px;
}

.container {
    background-color: #1f2933;
}

.m-heading {
    font-size: 30px;
    color: #cced00;
    margin-left: 15%;
}

.m-paragraph {
    font-size: 40px;
    color: white;
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
}

.imagey {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.inner-container {
    background-color: #323f4b;
    height: 70%;
    width: 70%;
    margin-left: 15%;
}

.paragraph {
    font-size: 25px;
    color: #9aa5b1;
    font-weight: 100;
    text-align: center;
}

.model {
    font-size: 30px;
    font-weight: 150;
    color: white;
    text-align: center;
}

.containerw {
    background-color: #0d2436;
}

.imagew {
    height: 60px;
    width: 60px;
    border-radius: 40px;
}

.heading {
    font-size: 15px;
    color: #cced00;
    margin-top: 5px;
}

.paragraph {
    font-size: 15px;
    color: #9aa5b1;
    margin-left: 10px;
    margin-right: 10px;
}

.icon {
    color: #5a7184;
    font-size: 20px;
}